/* Application wide styles */
#ddPane {
    -fx-border-color: #8d9497;
    -fx-border-radius: 15px;
    -fx-border-width: 5px;
    -fx-border-style: dashed;
}

#findFileBtn {
    -fx-font-size:17px;
    -fx-background-color:WHITE;
}

#findFileBtn:hover {
    -fx-background-color: #efefef;
}

#startEncodingBtn {
     -fx-font-size:17px;
     -fx-background-color:WHITE;
 }

#startEncodingBtn:hover {
    -fx-background-color: #efefef;
}

.jfx-combo-box {
    -fx-font-size: 20px;
    -fx-font-family: "Open Sans Regular";
    -fx-text-fill: rgba(75, 75, 75, 0.69);
}

.jfx-combo-box .input-line{
    -fx-pref-height: 0px;
}
.jfx-combo-box .input-focused-line{
    -fx-pref-height: 0px;
}

.jfx-text-field .input-line {
    -fx-pref-height: 0px;
}
.jfx-text-field .input-focused-line{
    -fx-pref-height: 0px;
}

#editPathBtn:hover {
    -fx-fill: rgba(17, 17, 17, 0.69);
}

#fileNameEditBtn:hover {
    -fx-fill: rgba(17, 17, 17, 0.69);
}

#finishEditBtn:hover {
    -fx-fill: #18851d;
}

#finishEditFilenameBtn:hover {
    -fx-fill: #18851d;
}

#compressionSettingsBtn:hover {
    -fx-fill: rgba(17, 17, 17, 0.69);
}

#newFileNameField {
    -fx-text-fill: #000000b0;
}


